{{yield}}
<div class="card">

  <div class="header">
    {{sport-symbol symbol=symbol}}
    <h3>{{name}}</h3>
    <p>{{symbol}}</p>
  </div>
  
  <div class="progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="10"
    aria-valuemin="0" aria-valuemax="100" style="width: calc({{current}} / {{max}} * 100%)"> 
        ${{current}} / ${{max}}
      <span class="sr-only">70% Complete</span>
    </div>
  </div>

  <div class="investors">
    <h5>{{investors}}</h5>
    <p>Investors</p>
  </div>
  <div class="minimum">
    <h5>{{min}}</h5>
    <p>Minimum</p>
  </div>
  <div class="remaining">
    <h5>6 days</h5>
    <p>Remaining</p>
  </div>
  {{#link-to 'fund' id}}<button class="invest">VIEW FUND <i class="ion-chevron-right"></i></button>{{/link-to}}
</div>